body, html {
    margin: 0;
    height: 100%;
}
body {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(71,152,194,1) 0%, rgba(32,93,153,1) 100%);
}
main {
    display: grid;
    grid-template-columns: repeat(2, 408px);
    grid-template-rows: 410px 60px 30px 20px;
    grid-column-gap: 5px;
    grid-row-gap: 2px;
    background: pink;
}
section.editor {
    grid-area: 1 / 1 / 2 / 2; background-color: red;
}
section.graphics {
    grid-area: 1 / 2 / 2 / 3; background-color: red;
}
section.controls {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    justify-content: space-between;
}
section.output {
    grid-area: 3 / 1 / 4 / 3; background-color: red;
}
footer {
    grid-area: 4 / 1 / 5 / 3;
    color: white;
    background-color: black;
    font: 700 12px / 1.2 monospace;
}
section.controls > button {
    width: 130px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid black;
}
footer img {
    max-height: 100%;
}
#logo-editor {
    width: 400px;
    height: 400px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 2px solid black;
    resize: none;
}
#logo-graphics {
    border: 2px solid black;
    background-color: #E8E8E8;
}




.popup {
    width: 800px;
    height: 400px;    

    position: relative;
    left: 10px;
    top: -117%;

    background: red;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.9);
}
.closed {
    display: none;
}