body {
    background-color:cornflowerblue;
}
.container {
    display: grid;    
    grid-template-columns: 410px 410px;
    grid-template-rows: 410px 60px;
    grid-template-areas: "logo-script logo-canvas" "logo-controls logo-controls";
    gap: 1px 1px;
    justify-content: center;
    align-content: center;
}
.logo-script {
   grid-area: logo-script;   
   margin: auto;
}
.logo-canvas {
    grid-area: logo-canvas;
    margin: auto;
 }
 .logo-controls {
    grid-area: logo-controls;
    background-color: darkblue;
 }
#scriptarea {
    width: 400px;
    height: 400px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border: 2px solid black;
    resize: none;
}
#logocanvas {
    border: 2px solid black;
    background-color: #E8E8E8;
}
.button {
    width: 100px;
    height: 60px;
    font-size: 14px;
    font-weight: bold;
    border: 2px solid black;
}